@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

/*=================================================================================
	Menu Design
=================================================================================*/

.menu{
  position:absolute;
  background:#FFF;
  top:0;
  left:0;
  height:100%;
  width:100%;
  overflow-y:auto;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
  z-index:199;
}
span.show-menu .menu{
  opacity:1;
  visibility:visible;
}
span.show-menu .menu-items > ul > li > a{
  opacity:1;
  transform:translateY(0px);
}

.menu-items {
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  transform:translate3d(0, -50%, 0);
  z-index:99;
  > ul {
    list-style:none;
    padding:0;
    margin:0;
    > li {
      display:inline-block;
      *display:inline;
      *zoom:1;
      margin:20px;
      > a {
        display:block;
        text-decoration:none;
        color:#202020;
        opacity:0;
        transition:all .3s ease;
        transform:translateY(15px);
        > i {
          display:block;
          height:100px;
          width:100px;
          line-height:100px;
          font-size:38px;
          vertical-align:middle;
          background:#F0F0F0;
          transition:all .3s ease;
          border-radius:50%;
        }
        > i:before {
          line-height:100px;
          vertical-align:middle;
        }
        > span {
          font-weight:bold;
          text-transform:uppercase;
          letter-spacing:2px;
          font-size:14px;
          margin-top:12px;
          display:block;
          color:#B6B6B6;
          position:relative;
          z-index:9;
          transition:all .3s ease;
        }
      }
      > a:hover {
        > i {
          box-shadow: 0 10px 40px 0 rgba(0,0,0,.18);
          background:#009688;
          color:#FFF;
        }
        > span{
          color:#202020;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .menu-items > ul > li {
    margin:28px;
    > a {
      > i {
        height:130px;
        width:130px;
        line-height:130px;
        font-size:58px;
      }
      > i:before {
        line-height: 130px;
      }
    }
  }
}


span.show-menu .menu-items > ul {
  > li:nth-of-type(1) > a{
    transition-delay:.4s;
  }
  > li:nth-of-type(2) > a{
    transition-delay:.5s;
  }
  > li:nth-of-type(3) > a{
    transition-delay:.6s;
  }
  > li:nth-of-type(4) > a{
    transition-delay:.7s;
  }
  > li:nth-of-type(5) > a{
    transition-delay:.8s;
  }
  > li:nth-of-type(6) > a{
    transition-delay:.9s;
  }
  > li:nth-of-type(7) > a{
    transition-delay:1s;
  }
}

