
/*=================================================================================
	General Styles
=================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
*{
  font-family: Poppins, sans-serif;
}
p{
  line-height:1.6em;
}
img{
  max-width:100%;
}
::-webkit-scrollbar{
  background:#FFF;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
  width:11px;
  height:11px;
}
::-webkit-scrollbar-thumb{
  border:solid 3px #FFF;
  background:#C0C0C0;
}
::-webkit-scrollbar-thumb:hover{
  background:#009688;
}
.text-light{
  color:#727272;
}

.main-content{
  position:fixed;
  z-index:55;
  top:65px;
  left:65px;
  right:65px;
  bottom:65px;
  background:#FFF;
  -webkit-box-shadow: 0 0 60px 0 rgba(0,0,0,.18);
  -moz-box-shadow: 0 0 60px 0 rgba(0,0,0,.18);
  box-shadow: 0 0 60px 0 rgba(0,0,0,.18);
}
.section{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  transition:all .3s ease;
  overflow-y:auto;
  overflow-x:hidden;
  padding:100px;
  padding-bottom:0;
}
.section:after{
  content: ' ';
  display:block;
  height:100px;
}
span.show-menu .section.active,
.section{
  opacity:0;
  visibility:hidden;
  z-index:95;
}
.section.active{
  opacity:1;
  visibility:visible;
  z-index:100;
}
.section-header{
  position:relative;
  margin-bottom:60px;
}
.section-header > h2{
  font-size:32px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  margin:0;
}
.section-header > p{
  color:rgba(0,0,0,.45);
  font-weight:500;
  margin:0;
  margin-top:3px;
}
