
/*=================================================================================
	General Styles
=================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,600,500,300);
*{
  font-family: Roboto, sans-serif;
}
p{
  line-height:1.6em;
}
img{
  max-width:100%;
}
::-webkit-scrollbar{
  background:#FFF;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
  width:11px;
  height:11px;
}
::-webkit-scrollbar-thumb{
  border:solid 3px #FFF;
  background:#C0C0C0;
}
::-webkit-scrollbar-thumb:hover{
  background:#009688;
}
.text-light{
  color:#727272;
}

.main-content{
  position:fixed;
  z-index:55;
  top:65px;
  left:65px;
  right:65px;
  bottom:65px;
  background:#FFF;
  box-shadow: 0 0 60px 0 rgba(0,0,0,.18);
}
.section{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transition:all .3s ease;
  overflow-y:auto;
  overflow-x:hidden;
  padding:60px 100px 0 100px;
}

span.show-menu .section.active,
.section{
  opacity:0;
  visibility:hidden;
  z-index:95;
}
.section.active{
  opacity:1;
  visibility:visible;
  z-index:100;
}
.section-header{
  position:relative;
  margin-bottom:60px;
}
.section-header > h2{
  font-size:32px;
  font-weight:bold;
  letter-spacing:2px;
  margin:0;
}
.section-header > p{
  color:rgba(0,0,0,.45);
  font-weight:500;
  margin:0;
  margin-top:3px;
}

a.btn-material{
  color:#FFF;
}
.btn-material{
  position:relative;
  padding:11px 27px;
  border:solid 2px #009688;
  background:#009688;
  text-align:center;
  display:inline-block;
  *display:inline;
  *zoom:1;
  text-decoration:none !important;
  color:#FFF;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:600;
  transition:all .3s ease;
}
.btn-material:hover{
  box-shadow: 0 10px 35px 0 rgba(0,0,0,.14);
}
.btn-material.btn-secondary{
  background:#FFF;
  color:#727272;
  box-shadow: none;
  border-color:transparent;
}
.btn-material.btn-secondary:hover{
  border-color:#009688;
  color:#009688;
}


/*=================================================================================
	Responsive CSS
=================================================================================*/
@media(max-width:1024px){
}
@media(max-width:992px){
  .section{
    padding:80px;
    padding-bottom:0;
  }
  .section:after{
    height:80px;
  }
  .main-content{
    top:40px;
    left:40px;
    right:40px;
    bottom:40px;
  }
}

@media(max-width:600px) {
  .main-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .section {
    padding: 50px;
    padding-bottom: 0;
  }
  .section:after {
    height: 50px;
  }
  .menu-btn {
    right: 30px;
    bottom: 30px;
    top: auto;
    left: auto;
    transform: none;
  }
  .menu-items {
    transform: none;
    position: static;
  }
}
@media(max-width:400px) {
  .section {
    padding: 35px 20px;
    padding-bottom: 0;
  }
  .section:after {
    height: 35px;
  }
}

// SVG BUTTONS
.svg-wrapper {
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  text-align: center;
  float: left;
  margin: 0 20px 20px 0;
}

.shape {
  fill: transparent;
  //stroke-dasharray: 140 540;
  //stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #009688;
}

.text {
  color: #727272;
  font-family: 'Roboto';
  text-transform:uppercase;
  font-weight:600;
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes in {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -350;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

@keyframes out {
  100% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -350;
    stroke-width: 8px;
  }
  0% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }

}

.svg-wrapper:hover .shape {
  animation: 0.5s in linear forwards;
}
.svg-wrapper:not( :hover ) .shape {
  animation: 0.5s out linear forwards;
}
