@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

/*=================================================================================
	Resume Section
=================================================================================*/

$materialGreenColor_1: #009688;
$mediumGrayColor_1: #AAA;

.resume-flex-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-header {
    flex: 1;
    max-width: 1000px;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 4rem;
      line-height: 1.4em;
      margin: 0;
      letter-spacing: 2px;
      color: $mediumGrayColor_1;
    }
    p {
      font-size: 1.2rem;
      color: $materialGreenColor_1;
      font-weight:300;
    }
  }

  .resume-section{
    padding-top:1px;

    /*== Timeline Block ==*/
    .timeline{
      margin:0;
      list-style:none;
      position:relative;
      padding:40px 0;
      padding-left:30px;
      max-width: 1000px;
      > li {
        position:relative;
        margin-bottom:40px;
        :before {
          content: ' ';
          position:absolute;
          height:16px;
          width:16px;
          border:solid 4px $materialGreenColor_1;
          border-radius:50%;
          left:-37px;
          background: white;
          top:10px;
        }
        > .timeline-content{
          padding:20px;
          position:relative;
          background: white;
          border-left:solid 3px $materialGreenColor_1;
          box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
          :before{
            content: ' ';
            position:absolute;
            width:37px;
            height:2px;
            border:solid 1px $materialGreenColor_1;
            background: $materialGreenColor_1;
            left:-37px;
            top:17px;
            z-index:-1;
          }
          > h4{
            font-weight:400;
            font-size: 1.5rem;
            //text-transform:uppercase;
            letter-spacing:2px;
            margin:0;
          }
          > span{
            color: $materialGreenColor_1;
          }
          > p{
            margin:0;
            margin-top:15px;
            color:rgba(0,0,0,.45);
            font-weight:500;
          }
        }
        :last-of-type {
          margin-bottom:0;
        }
      }
    }
  }
}




