
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.about {
  &__flex-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  &__section-header {
    flex: 1;
    max-width: 1000px;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 4rem;
      line-height: 1.4em;
      margin: 0;
      letter-spacing: 2px;
      color: #AAA;
    }
    p {
      font-size: 1.2rem;
      color:#009688;
      font-weight:300;
    }
  }
}

@media (min-width: 600px) {
  .about {
    &__section-header {
      p {
        font-size:1.4rem;
      }
    }
  }
}