/*=================================================================================
	Main Section
=================================================================================*/
.main-section{
  overflow:visible;
  padding:0;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-avatar {
  flex: 1;
}
.avatar {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 105%;
  background: url('../../assets/images/avatar.svg') no-repeat center/contain;
}

.text-col-main{
  flex: 1;
  overflow:auto;
  height:100%;
}
.intro-text-col{
  position:relative;
  height:100%;
  width:100%;
  display:table;
  overflow-y:auto;
}
.intro-text-col > .inner{
  height:100%;
  width:100%;
  vertical-align:middle;
  display:table-cell;
}
.intro-text{
  padding:60px 100px;
  padding-left:0;
}
.intro-text > h1{
  font-weight:bold;
  font-size:50px;
  line-height:1.4em;
  margin:0;
  letter-spacing:2px;
}
.intro-text > span{
  font-size:1.5em;
  color:#009688;
  font-weight:300;
}
.intro-text > p{
  font-size:26px;
  color:#727272;
  color:rgba(0,0,0,.45);
  margin:0;
  font-weight:100;
  font-style: italic;
  margin-top:35px;
  line-height:1.7em;
}
.intro-text > .intro-btns{
  margin-top:35px;
}
.intro-text > .intro-btns > .btn-material{
  margin-right:15px;
}

@media(max-width:1024px){
  .intro-text{
    padding:60px 80px;
    padding-left:0;
  }
}
@media(max-width:992px){
  .flex-container {
    display: inline;
  }
  .avatar {
    margin: 0;
    padding: 0;
    position: static;
    //overflow-y: hidden;
    height: 100%;
    width: 100%;
  }
  .flex-avatar {
    //flex: 1 100%;
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    height: 100%;
    //flex-direction: row;
    //justify-content: center;
  }
  .intro-text{
    padding:0;
    transform:none;
  }
  .main-section{
    overflow-y:auto;
    overflow-x:hidden;
    padding-top: 80px;
  }
  .intro-text > p{
    margin-bottom:40px;
  }
  .intro-text > .intro-btns > .btn-material{
    margin:0;
    display:block;
    margin-bottom:15px;
  }
  .intro-text-col{
    display:block;
    height:auto;
  }
}

@media(max-width:768px){
}

@media(max-width:600px){
  .main-section{
    padding:50px;
    padding-bottom:0;
  }
}

@media(max-width:400px){
  .main-section {
    padding:35px 20px;
    padding-bottom:0;
  }
  .main-section:after {
    height:35px;
  }
}
