@import "../../styles/colors.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.contact__flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .section-header {
    flex: 1;
    max-width: 1000px;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 2rem;
      line-height: 1.4em;
      margin: 0;
      letter-spacing: 2px;
      color: $app_gray_4;
    }
    p {
      font-size: 1.2rem;
      color:$material_green_1;
      font-weight:300;
    }
  }

  .contact-info-icons {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .contact-item {
      text-align: center;
      margin-right: 20px;
    }
    a, a:hover, a:visited, a:active {
      color: inherit;
      text-decoration: none;
      color: $material_green_1;
      i {
        font-size: 5rem;
        margin: 30px;
        color: $app_gray_4;
      }
      .text-info {
        color: $app_gray_3;
        font-weight: 300;
      }
    }
  }
  @media (min-width: 600px) {
    .section-header {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

    .contact-info-icons {
      a, a:hover, a:visited, a:active {
        i {
          font-size: 10rem;
        }
      }
    }
  }

  .contact-info-icons:after {
    content: ' ';
    display:block;
    height:120px;
    width: 100%;
  }

  .centering-purpose {
    flex: 1;
  }
}

