<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id='noscript'>
    <div class="message" id="javascript-disabled">
        <div class="page-wrapper">
            <h2 class="title">Warning! JavaScript required.</h2>
            <p>To use this website you need to have JavaScript enabled. Without these features parts of the site may not function correctly.</p>
        </div>
    </div>
</div>
<script>document.getElementById('noscript').style.display='none';</script>
<!--[if lt IE 9]>
<div class="message" id="unsupported-browser">
    <div class="page-wrapper">
        <h2 class="title">Warning! Unsupported browser.</h2>
        <p>We have detected that you are using an unsupported browser, we cannot guarantee that this website will look and function as intended on your browser. <a href="https://www.google.com/search?q=web+browser">Upgrade your browser now</a>.</p>
    </div>
</div>
<![endif]-->

</body>
</html>